DEBUG=on

POSTGRES_USER="batchthis" # Enter the username you want to use for Postgres
POSTGRES_PASSWORD="aucyTruu*.aAen_"  # Enter the password you want to use for Postgres

# This is just an example, REPLACE THIS with your generated key.
# Make sure it is in quotes, otherwise there might be parsing issues
# Generate the key here if Django is installed:
# python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"

SECRET_KEY="#(dur3)ld=2_xsi^gu+yyiy&=b&mn)vo&^xx3_d9h4u&u*q-co"
