{% extends 'batchthis/base.html' %}
{% block content %}
{% include 'batchthis/topbar.html' %}
{% load crispy_forms_tags %}
{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            {% if form.errors %}
            <div class="alert alert-warning" role="alert">
                {{ form.errors }}
            </div>
            {% endif %}
            <form method="POST" class="post-form" id="recipeform">
                {% csrf_token %}
                {{ fermentable_set.management_form }}
                <div id="fermentable_form_set">
                    {% for fermentable_form in fermentable_set %}
                    <div id="fermentable_form" class = "form-group row border-left-primary">
                        <div class = "col-md-4 col-mb-0">
                            {{ fermentable_form.fermentable_id|as_crispy_field }}
                        </div>
                        <div class = "col-md-4 col-mb-0">
                            {{ fermentable_form.amount|as_crispy_field }}
                        </div>
                        {% comment %}
                        <div class = "col-md-2 col-mb-0">
                            {{ fermentable_form.amount_weight|as_crispy_field }}
                        </div>
                        <div class = "col-md-2 col-mb-0">
                            {{ fermentable_form.amount_volume|as_crispy_field }}
                        </div>
                        {% endcomment %}
                        <div class = "col-md-2 col-mb-0">
                            {{ fermentable_form.intended_use_id|as_crispy_field }}
                        </div>
                        <div class = "col-md-2 col-mb-0">
                            {{ fermentable_form.is_fermentable|as_crispy_field }}
                        </div>
                        <div class = "col-md-2 col-mb-0">
                            Remove Item {{ fermentable_form.DELETE }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <input type="button" class="btn btn-secondary" value = "Add Fermentable" id="addFermentableFormButton">
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>

<script>
      $('#addFermentableFormButton').click(function () {
      var fermFormTotal = $('#id_form-TOTAL_FORMS').val();
      var newFormTotal = parseInt(fermFormTotal)+1
      var div_id = "form_" + newFormTotal;
      $('#fermentable_form').clone().prop("id", div_id).appendTo("#fermentable_form_set");
      var newDiv = document.getElementById("#"+div_id);
      $('#id_form-TOTAL_FORMS').val(newFormTotal);
      var newSelector = document.querySelector("#"+div_id);
      let formRegex = /form-(\d){1}-/g;
      var newFormId = newFormTotal-1
      newSelector.innerHTML = newSelector.innerHTML.replace(formRegex, `form-${newFormId}-`)
      $(`#id_form-${newFormId}-amount_weight_0`).attr('value',"");
      $(`#id_form-${newFormId}-amount_volume_0`).attr('value',"");
      document.getElementById(`id_form-${newFormId}-fermentable_id`).selectedIndex = -1
      document.getElementById(`id_form-${newFormId}-intended_use_id`).selectedIndex = -1


      });

      $('#addAdjunctFormButton').click(function () {
      var adjFormTotal = $('#id_adj-TOTAL_FORMS').val();
      $('#adjunct_form').clone().prop("id", "adjunct_form_" + adjFormTotal).appendTo("#adjunct_form_set");
      $('#id_adj-TOTAL_FORMS').val(parseInt(adjFormTotal) + 1);
      });

      $('#addYeastFormButton').click(function () {
      var yeastFormTotal = $('#id_yeast-TOTAL_FORMS').val();
      $('#yeast_form').clone().prop("id", "yeast_form_" + yeastFormTotal).appendTo("#yeast_form_set");
      $('#id_yeast-TOTAL_FORMS').val(parseInt(yeastFormTotal) +1);
      })


</script>
{% endblock %}