{% extends 'base.html' %}
{% block content %}
{% include 'topbar.html' %}
<div class="container-fluid">
    <div class="row">
        <!-- TODO Add "Back Button" -->
        <!-- Batch Actions and Meta Card -->
        <div class="col-xs-12 w-100">
            <div class="card shadow mb-4 h-100">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <i class="fas fa-note fa-2x text-gray-300"></i>
                    <h6 class="m-0 font-weight-bold text-primary">Activity Log</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <!-- {% if activity %} -->
                      {% for note in activity %}
                    <div class="row">
                        <div class="col-xs-3 col-md-5 font-weight-bold">
                            {{ note.datetime|date:"Y-m-d H:i A" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 offset-sm-1">
                            {{ note.text }}
                        </div>
                    </div>
                      {% endfor %}
                    <!--{% else %}
                    No Activity
                    {% endif %}-->
                </div>
            </div>
        </div>
        <!-- End Card -->
    </div>
</div>
<!-- End Activity Note -->
{% endblock %}