{% extends 'base.html' %}
{% block content %}
{% include 'topbar.html' %}
{% load static %}
<div class="container-fluid">
    <!-- Content Row -->
    <div class="row">
    <script src="{% static 'batchthis/vendor/chart.js/Chart.min.js' %}"></script>
        <!-- Content Column -->
        {# Loop through each type of test for graphing #}
        {% for test,value in tests.items %}
        <div class="col-lg-6 mb-4">

            <!-- {{ test }} Graph -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{ test }}</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                    <canvas id="{{ value.shortid }}Chart"></canvas>
                    {% with value.shortid|add:"_data" as data_var %}
                    {{ value|json_script:data_var }}
                    {% endwith %}
                  </div>
                </div>
            </div>
        </div>
        <script>
            var ctxLoc = '{{ value.shortid }}Chart';
            var chartDataLoc = '{{ value.shortid }}_data';
            var chartData = document.getElementById(chartDataLoc).textContent;
            var label_val = {{ value.dates|safe }};
            var data_val = {{ value.values }};
            console.log(chartDataLoc + "\n" + chartData.dates)

            var ctx = document.getElementById(ctxLoc).getContext('2d')
            var chart = new Chart(ctx, {
                type: "line",
                data: {
                    labels: label_val,
                    datasets: [{
                        label: "{{ test }} Data",
                        data: data_val,
                        lineTension: 0.3,
                      backgroundColor: "rgba(78, 115, 223, 0.05)",
                      borderColor: "rgba(78, 115, 223, 1)",
                      pointRadius: 3,
                      pointBackgroundColor: "rgba(78, 115, 223, 1)",
                      pointBorderColor: "rgba(78, 115, 223, 1)",
                      pointHoverRadius: 3,
                      pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                      pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                      pointHitRadius: 10,
                      pointBorderWidth: 2,
                        }]
                },
            });
        </script>
        {% endfor %}
    </div>
</div>


{% endblock %}