{% extends 'base.html' %}
{% block content %}
{% include 'topbar.html' %}
<div class="container-fluid">
    <div class="row">
        <!-- Batch Actions and Meta Card -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Batch Information</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Edit</a>
                        <div class="dropdown-divider"></div>
                      <div class="dropdown-header">Batch Actions:</div>
                      <a class="dropdown-item" href="#">Add Test</a>
                      <a class="dropdown-item" href="#">Add Note</a>
                        <a class="dropdown-item" href="#">End Batch</a>


                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <table>
                            <tbody>
                            <tr>
                                <td class="font-weight-bold">Batch #:</td>
                                <td>{{ batch.id }}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Batch Name:</td>
                                <td>{{ batch.name }}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Batch Start:</td>
                                <td>{{ batch.startdate }}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Batch End:</td>
                                <td>{{ batch.enddate }}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Batch Size:</td>
                                <td>{{ batch.size }} {{ batch.size_units.label }}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Fermenter(s):</td>

                                {% for fermenter in fermenters %}
                                <div class="row">
                                    <td><a href="#">{{ fermenter.name }}</a></td>
                                </div>
                                {% endfor %}

                            </tr>
                            </tbody>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Batch Actions and Meta Card -->
        <!-- Batch Status and Completion Card -->
        <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Gravity Readings</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Go To:</div>
                        {% for type in testTypes %}
                      <a class="dropdown-item" href="#">{{ type.name }}</a>
                        {% endfor %}
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">All charts</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                  </div>
                </div>
        </div>
        </div>
        <!-- End Batch Status and Completion Card -->
    </div>
</div>


{% endblock %}