{% block footer %}
{% load static %}
<!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <!--<script src="{% static 'batchthis/vendor/jquery/jquery.min.js' %}"></script>-->
  <script src="{% static 'batchthis/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <!-- <script src="{% static 'batchthis/vendor/jquery-easing/jquery.easing.min.js' %}"></script> -->

  <!-- Custom scripts for all pages
  <script src="{% static 'batchthis/js/sb-admin-2.min.js' %}"></script>
  -->

  <!-- Page level plugins -->
  <script src="{% static 'batchthis/vendor/chart.js/Chart.min.js' %}"></script>

  <!-- Footer Page level custom scripts
  <script src="{% static 'batchthis/js/demo/chart-area-demo.js' %}"></script>
  <script src="{% static 'batchthis/js/demo/chart-pie-demo.js' %}"></script>
  -->
{% endblock %}